/* setting to overide default browser settings*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* styling the H1 header element*/
.h1styling {
    text-align: center;
    background-color: bisque;
    /* add a box shadow to seperate header from body element*/
    box-shadow: 0 2px 2px black;
}

/* styling navigation bar */
.navbar {
    background-color: coral;
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

/* styling navigation list-items */
.navbar li {
    display: inline-block;
    font-size: 20px;
    padding: 10px;
}

/* Main body element */
body {
    background-color: aliceblue;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* style h2 header */
#h2quiz-area {
    margin: 8px auto 16px;
    text-align: center;
}

/* style paragraph that displays quiz instructions */
#p2quiz-area {
    margin: 10px auto 16px;
    text-align: center;
}

/* margin and style for main quiz-area*/
.quiz-area {
    width: 90%;
    max-width: 600px;
    margin: 35px auto 72px;

}

/*style questions */
.question-area h2 {
    font-size: x-large;
    color: brown;
    font-weight: bolder;
}

/* created from javascrpt and called from displayQuestion function*/
.btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    text-align: left;
    cursor: pointer;
    transition: all 0.3s;
}

/* add hover effect*/
.btn:hover:not([disabled]) {
    background-color: blue;
    color: aqua
}

/* id for div element */
#answer-buttons {
    font-weight: bolder;
}

/* id for div element */
#refresh-button {
    font-weight: bolder;
    color: white;
    background-color: red;
    border-radius: 2px;
    padding: 2px;
    width: 100px;
    margin: 2px auto 0;
    display: block;
}

/* style button to go to next set of questions*/
#next-button {
    cursor: pointer;
    color: black;
    background-color: aqua;
    border-radius: 1px;
    padding: 10px;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 4px;
    display: block;
    font-weight: bolder;
}

/* for correct answer created from Javascript*/
.correct {
    background-color: aquamarine
}

/* for incorrect answer created from javascript*/
.incorrect {
    background-color: chocolate;
}

/* for final score created from javascript*/
.score-count {
    text-align: center;

}

/* style footer element*/
#foot {
    margin-top: auto;
}

/* style footer navbar element*/
.nav {
    background-color: coral;
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

/* style footer navbar list items */
.nav li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}