/* setting to overide default browser settings*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.h1styling{
    background-color: blue;
}

body {
    background-color:aquamarine;
}

/* Make Main element take up surplus space and push footer down*/
main {
    flex: 1 0 auto;
    margin-top: auto;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Set main element take up surplus space and push footer down*/
main {
    flex: 1 0 auto;
    margin-top: auto;
}