/* setting to overide default browser settings*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* styling the H1 header element*/
.h1styling {
    text-align: center;
    background-color: bisque;
    /* add a box shadow to seperate header from body element*/
    box-shadow: 0 2px 2px black;

}

/* Naigation bar  styling*/
.navbar {
    background-color: coral;
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

/* Naigation list-items  styling*/
.navbar li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}

body {
    background-color: aliceblue;
}

/* Make Main element take up surplus space and push footer down*/
main {
    flex: 1 0 auto;
    margin-top: auto;
}

.question-area {
    padding: 20px 0;;
}

.question-area h2{
    font-size:medium;
    color: brown;
    font-weight: 700;
    }
    
/* footer styling*/
.nav {
    background-color: coral;
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

/* footer list items styling*/
.nav li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}

.footerp2 {
    text-align: center;
}